<!DOCTYPE html>
<html xmlns:th="http://ww.thymeleaf.org">

<div  th:replace="fragments/header :: header" ></div>

<body>
	
	<div id="spinner">
		class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
		<div class="spinner-border text-primary" role="status"
			style="width: 3rem; height: 3rem;"></div>
	</div>
	<div class="container-fluid bg-white sticky-top">
		<div class="container-fluid">
			<nav class="navbar navbar-expand-lg bg-white navbar-light py-2 py-lg-0" style=" border-bottom: 2px solid  #38761D; max-height:50px">
				<a style="color:white" th:if="${user.role == 'USER'}" th:href="@{/user/welcome}"class="navbar-brand">
					 <img class="img-fluid" th:src="@{/img/logo.png}" alt="Logo" style="width:140px; height:120px"></a>
	    		<a style="color:white" th:if="${user.role == 'ADMIN'}" th:href="@{/admin/dashboard}"class="navbar-brand"> 
	    			<img class="img-fluid" th:src="@{/img/logo.png}" alt="Logo" style="width:140px; height:120px"></a>
			</nav>
		</div>
	</div>
	
	<div class="mx-auto" style="margin-top:50px; width:83%">
		<div class=" text-center mx-auto" data-wow-delay="0.1s" style="max-width: 500px;">
             <h1 class="display-6" style="color: #38761D; ">Chỉnh sửa thông tin</h1>
        </div>
       <div th:if="${error}" class="alert alert-danger text-center">
					[[${error}]]
		</div>
	    <div class="mx-auto p-5" style="width: 73%; background: rgba(76, 153, 0, 0.3); border-radius:10%;">
	    	<form th:action="@{/profile/save_user_change_password}" method="post" th:object="${user}">
	    		<input type=hidden th:field="*{userID}"/>
	    		<div class="input-group mb-3">
					<span  style="width:12rem" class="input-group-text" id="basic-addon1">Tên đăng nhập</span> 
					<input  th:field="*{username}"  th:value="${user.username}" type="text" class="form-control" readonly>
				</div>
				<div class="input-group mb-3">
					<span style="width:12rem" class="input-group-text" id="basic-addon1">Nhập mật khẩu cũ</span> 
					<input type="password" class="form-control" name="password" th:field="*{password}"
						id="password" >
					<span id="togglePassword" onclick="togglePasswordField()" >
        				<i class="fa fa-eye-slash mt-2 ms-1" id="eyeIcon"></i>
   					</span>
				</div>
				<div class="input-group mb-3">
					<span style="width:12rem" class="input-group-text" id="basic-addon1">Nhập mật khẩu mới</span> 
					<input type="password" class="form-control" name="newpassword" style="font-size:88%;" id="newpassword" 
						placeholder="Mật khẩu phải từ 6 đến 10 ký tự, bao gồm cả chữ cái, chữ số và ký tự đặc biệt">
					<span id="togglePassword" onclick="togglePasswordField2()" >
        				<i class="fa fa-eye-slash mt-2 ms-1" id="eyeIcon2"></i>
   					</span>
				</div>
				<div class="input-group mb-3">
					<span class="input-group-text" id="basic-addon1">Nhập lại mật khẩu mới</span> 
					<input type="password" class="form-control" name="renewpassword" id="renewpassword">
					<span id="togglePassword" onclick="togglePasswordField2()" >
        				<i class="fa fa-eye-slash mt-2 ms-1" id="eyeIcon3"></i>
   					</span>
				</div>
				<div style="display:flex; float:right">
					<input class="btn btn-primary" type="submit" value="Lưu thay đổi">
				</div>
				<div style="display:flex; float: right; margin-right:5px; background-color:gray" >
					<a class="btn btn-outline-secondary" th:href="@{'/profile/detail/' +${user.userID}}" style="color:white;">Hủy</a>	
				</div>
				
			</form>
			
	    </div>
	</div>
   
	<script>
		function togglePasswordField() {
		    var passwordField = document.getElementById("password");
		    var eyeIcon = document.getElementById("eyeIcon");
	
		    if (passwordField.type === "password") {
		        passwordField.type = "text";
		        eyeIcon.classList.remove("fa-eye-slash");
		        eyeIcon.classList.add("fa-eye");
		    } else {
		        passwordField.type = "password";
		        eyeIcon.classList.remove("fa-eye");
		        eyeIcon.classList.add("fa-eye-slash");
		    }
		}
		   
		  function togglePasswordField2() {
			  var passwordField2 = document.getElementById("newpassword");
			  var eyeIcon2 = document.getElementById("eyeIcon2");
			  var passwordField3 = document.getElementById("renewpassword");
			  var eyeIcon3 = document.getElementById("eyeIcon3");
		  
		    if (passwordField2.type === "password") {
		        passwordField2.type = "text";
		        eyeIcon2.classList.remove("fa-eye-slash");
		        eyeIcon2.classList.add("fa-eye");
		    } else {
		        passwordField2.type = "password";
		        eyeIcon2.classList.remove("fa-eye");
		        eyeIcon2.classList.add("fa-eye-slash");
		    }
		    
		    if (passwordField3.type === "password") {
		        passwordField3.type = "text";
		        eyeIcon3.classList.remove("fa-eye-slash");
		        eyeIcon3.classList.add("fa-eye");
		    } else {
		        passwordField3.type = "password";
		        eyeIcon3.classList.remove("fa-eye");
		        eyeIcon3.classList.add("fa-eye-slash");
		    }
		}
	</script>
    <!-- Footer Start -->
    <div  th:replace="admin/admin_fragments/admin_footer :: admin_footer" ></div>
</body>
</html>