<!DOCTYPE html>
<html xmlns:th="http://ww.thymeleaf.org">

<div  th:replace="fragments/header :: header" ></div>

<body>
	
	<div id="spinner">
		class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
		<div class="spinner-border text-primary" role="status"
			style="width: 3rem; height: 3rem;"></div>
	</div>
	<div class="container-fluid bg-white sticky-top">
		<div class="container-fluid">
			<nav class="navbar navbar-expand-lg bg-white navbar-light py-2 py-lg-0" style=" border-bottom: 2px solid  #38761D; max-height:50px">
				<a th:href="@{#}" class="navbar-brand"> <img class="img-fluid"
					th:src="@{/img/logo.png}" alt="Logo" style="width:140px; height:120px">
				</a>
			</nav>
		</div>
	</div>
	
	<div class="mx-auto" style="margin-top:50px; width:60%">
		<div class=" text-center mx-auto" data-wow-delay="0.1s" style="max-width: 500px;">
             <h1 class="display-6" style="color: #38761D; ">Chỉnh sửa thông tin</h1>
        </div>
       <div th:if="${save_error}" class="alert alert-danger text-center">
					[[${save_error}]]
		</div>
	    <div class="mx-auto p-5" style="width: 75%; background: rgba(76, 153, 0, 0.3); border-radius:10%;">
	    	<form th:action="@{/profile/save_user_edit}" method="post" th:object="${user}">
	    		<input type=hidden th:field="*{userID}"/>
				<div class="input-group mb-3">
					<span  style="width:9rem" class="input-group-text" id="basic-addon1">Tên đăng nhập</span> 
					<input  th:field="*{username}"  th:value="${user.username}" type="text" class="form-control" readonly>
				</div>
				
				<div class="input-group mb-3">
					<span  style="width:9rem" class="input-group-text" id="basic-addon1">Email</span> 
					<input th:field="*{email}"  th:value="${user.email}" type="tel" class="form-control" required>
				</div>
				
				<div class="input-group mb-3">
					<span  style="width:9rem" class="input-group-text" id="basic-addon1">Họ và tên</span> 
					<input th:field="*{fullname}"  th:value="${user.fullname}" type="text" class="form-control" required>
				</div>
				
				<div class="input-group mb-3">
					<span  style="width:9rem" class="input-group-text" id="basic-addon1">Ngày sinh</span> 
					<input th:field="*{birthday}" th:value="${user.birthday}" type="date" class="form-control">
				</div>
				
				<div class="input-group mb-3">
					<span  style="width:9rem" class="input-group-text" id="basic-addon1">Giới tính</span> 
					<select th:field="*{gender}" th:value="${user.gender}" type="text" class="form-control">
						<option value="">Chọn giới tính</option>
			            <option value="1">Nam</option>
			            <option value="2">Nữ</option>
			            <option value="3">Không trả lời</option>
       				 </select>
				</div>	
				<div style="display:flex; float:right">
					<input class="btn btn-primary" type="submit" value="Lưu thay đổi">
				</div>
				<div style="display:flex; float: right; margin-right:5px; background-color:gray" >
					<a class="btn btn-outline-secondary" th:href="@{'/profile/detail/' +${user.userID}}" style="color:white;">Hủy</a>	
				</div>
				
			</form>
			
	    </div>
	</div>
   
	
    <!-- Footer Start -->
   <div  th:replace="admin/admin_fragments/admin_footer :: admin_footer" ></div>
</body>
</html>