<!DOCTYPE html>
<html xmlns:th="http://ww.thymeleaf.org">
<div  th:replace="fragments/header :: header" ></div>

<body>
	<div  th:replace="admin/admin_fragments/admin_navbar :: admin_navbar" ></div>
	
	<div class="row">
		<div class="col-2">
			<div  th:replace="admin/admin_fragments/admin_sidebar :: admin_sidebar" ></div>
		</div>
		<div class="col-10">
		<h2 class=" text-center mt-5" style="color:#38761D;">[[${pageTitle}]]</h2>
			<form th:action="@{/admin/user/save_edit}" method="post" th:object="${user}"
				style="width:500px; margin:0 auto">
				<div class="border border-success rouded p-3">
					

					<div class="form-group row">
						<label class="col-sm-4 col-form-label">ID Người dùng:</label>
						<div class="col-sm-8">
							<input type="text" th:field="*{userID}" th:value="${user.userID}" readonly/>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-sm-4 col-form-label">Tên người dùng:</label>
						<div class="col-sm-8">
							<input type="text" th:field="*{username}" th:value="${user.username}" readonly/>
						</div>
					</div>
					
					<div  class="form-group row">
					    <label class="col-sm-4" for="role">Quyền:</label>
					    <select class="col-sm-8" id="role" name="role" th:field="*{role}" style="width:39%; margin-left:11px">
					        <option value="ADMIN">ADMIN</option>
					        <option value="USER">USER</option>
					    </select>
					</div>
					
					<div class="text-center">
						<button type="submit" class="btn btn-primary m-2">Lưu thay đổi</button>
						<button type="button" class="btn btn-secondary m-2" style="background-color:gray">
							<a th:href="@{/admin/user/list}" style="color:white;">Hủy</a>
							
						</button>
						
					</div>
				</div>
			</form>
		</div>
	
	<div  th:replace="admin/admin_fragments/admin_footer :: admin_footer" ></div>
	
</body>
</html>