<!DOCTYPE html>
<html xmlns:th="http://ww.thymeleaf.org">
<div  th:replace="fragments/header :: header" ></div>

<body>
	<div  th:replace="admin/admin_fragments/admin_navbar :: admin_navbar" ></div>
	
	<div class="row">
		<div class="col-2">
			<div  th:replace="admin/admin_fragments/admin_sidebar :: admin_sidebar" ></div>
		</div>
		<div class="col-10">
			 <h3 class="text-center mt-5" style="color:#38761D;">Quản lý Năm học</h3>
    
			<div class="mx-auto" style="width:80%;" >
				<a th:href="@{/admin/schoolYear/new}" class="mb-5 fs-5 fw-bold">Thêm năm học mới</a>
				<div th:if="${message}" class="alert alert-success text-center">
					[[${message}]]
				</div>
				<div th:if="${save_error}" class="alert alert-danger text-center">
						[[${save_error}]]
				</div>
				<table class="table" style="background: #dcebd8">
					<thead>
						<tr>
							<th scope="col">ID</th>
							<th scope="col">Tên năm học</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="schoolYear : ${listSchoolYears}">
						<tr>
							<td>[[${schoolYear.schoolYearID}]]</td>
							<td>[[${schoolYear.schoolYearName}]]</td>
				
							<td class="h6">
								<a th:href="@{'/admin/schoolYear/edit/' +${schoolYear.schoolYearID}}" class="me-3">Chỉnh sửa năm học</a>
								<a href="#" th:onclick="'javascript:confirmDelete(\'' + ${schoolYear.schoolYearID} + '\');'">Xóa năm học</a>
							</td>
						</tr>
						</th:block>
					
					</tbody>
				</table>
				<a th:href="@{/admin/schoolYear/listDeleted}" class="mb-5 fs-5 fw-bold">Phục hồi năm học</a>		
			</div>
		</div>
	</div>	
	
	<script type="text/javascript">
	    function confirmDelete(schoolId) {
	        if (confirm('Bạn có chắc chắn muốn xóa năm học này?')) {
	            window.location.href = '/admin/schoolYear/delete/' + schoolId;
	        }
	    }
	</script>
	<div  th:replace="admin/admin_fragments/admin_footer :: admin_footer" ></div>
	
</body>
</html>