<!DOCTYPE html>
<html xmlns:th="http://ww.thymeleaf.org">
<div  th:replace="fragments/header :: header" ></div>

<body>
	<div  th:replace="admin/admin_fragments/admin_navbar :: admin_navbar" ></div>
	
	<div class="row">
		<div class="col-2">
			<div  th:replace="admin/admin_fragments/admin_sidebar :: admin_sidebar" ></div>
		</div>
		<div class="col-10">
			 <h3 class="text-center mt-5" style="color:#38761D;">Danh sách trẻ em đã xóa</h3>
    
			<div class="mx-auto" style="width:80%;" >
				<a th:href="@{/admin/children/list}" class="mb-5 fs-5 fw-bold">Trở về</a>
				<div th:if="${message}" class="alert alert-success text-center">
					[[${message}]]
				</div>
				<table class="table">
					<thead>
						<tr>	
							<th scope="col">ID trẻ em</th>					
							<th scope="col">Họ và tên</th>
							<th scope="col">Giới tính</th>
							<th scope="col">Ngày sinh</th>
							<th> </th>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="child : ${listChildren}">
						<tr>
							<td>[[${child.childID}]]</td>
							<td>[[${child.fullname}]]</td>
							<td th:text="${child.gender == 1 ? 'Nam' : 'Nữ'}">Giới tính</td>
							<td>[[${child.birthday}]]</td>
							<td class="h6">
								<a th:href="@{'/admin/children/restore/' +${child.childID}}" class="me-3">Phục hồi</a>
								
							</td>
						</tr>
						</th:block>
					
					</tbody>
				</table>			
			</div>
		</div>
	</div>	
	
	
	<div  th:replace="admin/admin_fragments/admin_footer :: admin_footer" ></div>
	
</body>
</html>