<!DOCTYPE html>
<html xmlns:th="http://ww.thymeleaf.org">
<div  th:replace="fragments/header :: header" ></div>
<body>
	<div  th:replace="fragments/navbar :: navbar" ></div>

   
    <!-- Contact Start -->
    <div class="container-xxl contact py-5">
        <div class="container">
            <div class="section-title text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h1 class="display-6" style="color: #38761D; ">Liên hệ với chúng tôi</h1>
            </div>
            <div class="row justify-content-center wow fadeInUp" data-wow-delay="0.1s">
                <div class="col-lg-8">
                    <p class="text-center mb-5">Mọi ý kiến đóng góp hoặc thắc mắc về cách nhận nuôi em, gây quỹ, vui lòng liên hệ với chúng tôi qua những phương thức dưới đây, chúng tôi rất hân hạnh nhận được tương tác từ quý mạnh thường quân và quý tình nguyện viên</p>
                    <div class="row g-5">
                        <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="0.3s">
                            <div class="btn-square mx-auto mb-3">
                                <i class="fa fa-envelope fa-2x text-white"></i>
                            </div>
                            <p class="mb-2">nuoiem@gmail.com</p>
                            
                        </div>
                        <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="0.4s">
                            <div class="btn-square mx-auto mb-3">
                                <i class="fa fa-phone fa-2x text-white"></i>
                            </div>
                            <p class="mb-2">+012 345 67890</p>
                        
                        </div>
                        <div class="col-md-4 text-center wow fadeInUp" data-wow-delay="0.5s">
                            <div class="btn-square mx-auto mb-3">
                                <i class="fa fa-map-marker-alt fa-2x text-white"></i>
                            </div>
                            <p class="mb-2">Đường 123</p>
                            <p class="mb-0">Phường Xuân Khánh, quận Ninh Kiều, TP.Cần Thơ</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="wow fadeIn m-5" data-wow-delay="0.5s" style="min-height: 400px;">     
                  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7857.68302936665!2d105.770615!3d10.029934!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a0895a51d60719%3A0x9d76b0035f6d53d0!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBD4bqnbiBUaMah!5e0!3m2!1svi!2sus!4v1711285954473!5m2!1svi!2sus" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" ></iframe>
            </div>
        </div>
        
        
    </div>
    <!-- Contact End -->


    <div  th:replace="fragments/footer :: footer" ></div>
</body>
</html>